*{
    margin: 0;
    padding:0;
}

.side{
    background: #ffffff25;
    height:100vh;
    text-align: center;
}

body{
    background: url("https://media3.giphy.com/media/xT9IgN8YKRhByRBzMI/giphy.gif");
    background-size: cover;
    
}

.jumbotron{
    background: rgba(0, 0, 0, 0.1);
    
}

.display-4{
    color: white;
}

.bienvenue{
    text-align: left !important;
}

.sur_le{
    text-align: center !important;
}

.mini_chat{
    text-align: right !important;
}

span{
    display: block;
}

